$primary-color:#DC161B;
$secoundary-color: #eeeff2;
$border-color: #c6c8d2;
$success-color: #07ae6c;
$text-color: #484c5b;
$light-text: #989dae;
$dark-gray: #434343;
$primary-font:"Montserrat", Sans-serif;
$secoundary-font:"Open Sans",sans-serif;